{
    "clientId": "",
    "guildId": "",
    "serverOne": {
        "id": "",
        "webhook": "",
        "channel":""
    },
    "serverTwo": {
        "id": "",
        "webhook": "",
        "channel": ""
    }
}